@import "tailwindcss";


@tailwind utilities;

@layer utilities {
  @keyframes slideDownFade {
    0% {
      opacity: 0;
      transform: translateY(-20px) ;
    }
    100% {
      opacity: 1;
      transform: translateY(0) ;
    }
  }

  .animate-slideDownFade {
    animation: slideDownFade 0.4s ease-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}